In [1]:
%pip install pymongo
%pip install pandas
%pip install openpyxl

Defaulting to user installation because normal site-packages is not writeableNote: you may need to restart the kernel to use updated packages.

Requirement already satisfied: pymongo in c:\users\gokul\appdata\roaming\python\python311\site-packages (4.5.0)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in c:\users\gokul\appdata\roaming\python\python311\site-packages (from pymongo) (2.4.2)
Defaulting to user installation because normal site-packages is not writeableNote: you may need to restart the kernel to use updated packages.

Requirement already satisfied: pandas in c:\users\gokul\appdata\roaming\python\python311\site-packages (2.1.1)
Requirement already satisfied: numpy>=1.23.2 in c:\users\gokul\appdata\roaming\python\python311\site-packages (from pandas) (1.26.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\gokul\appdata\roaming\python\python311\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\gokul\appdata\roaming\python\python311\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\gokul\appdata\roaming\python\python311\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\gokul\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: openpyxl in c:\users\gokul\appdata\roaming\python\python311\site-packages (3.1.2)
Requirement already satisfied: et-xmlfile in c:\users\gokul\appdata\roaming\python\python311\site-packages (from openpyxl) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
from pymongo import collection
from pymongo import MongoClient
import pandas as pd

In [3]:
client = MongoClient("mongodb+srv://gokul:Gokul6379216315@cluster0.98nfmzu.mongodb.net/?retryWrites=true&w=majority")
db = client["task1"]  # Replace with your database name
collection = db["task1"]

In [4]:
cursor = collection.find()
data = list(cursor)
dataframe = pd.DataFrame(data)

In [5]:
path = "C:\\Users\\GOKUL\\Desktop\\excel\\data.csv"  
dataframe.to_csv(path, index=False)
dataframe

,_id,name,account_status,amount_spent,balance,age,owner,created_time,currency,fb_entity,spend_cap,timezone_name
0,act_1276491226404785,Gokul Senthil,1,0,0,0,122112650228028506,2023-09-12 02:13:43,INR,78,0,Asia/Kolkata